# Зависимости (самая тяжелая папка)
node_modules/

# Сборка Next.js
.next/
out/
build/

# Секретные ключи (твои ключи reCAPTCHA и URL бэкенда)
.env
.env.local
.env.production

# Логи и кэш
npm-debug.log*
.eslintcache
.stylelintcache

# Системные файлы (особенно для Linux/Mac)
.DS_Store