@import 'tailwindcss';
@theme {
	--color-primary: #ad2528;
	--color-bg: #191b28;
	--color-border: rgba(255,255,255, .1);
  --text-shadow-glow: 0 0 15px rgba(255, 0, 0, 0.8);
}

:root {
	--sidebar-width: 15rem;
}

html,
body {
	color:white;
	background-color: var(--color-bg)
}
@layer utilities{
	.grid-6{
		display: grid;
		grid-template-columns: repeat(5, minmax(0, 1fr));
		gap: 1.25rem; 
	}
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-ms-thumb {
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}


.volume-slider::-moz-range-thumb:hover{
	transition-duration: 150ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
	background-color: var(--color-primary);
}
.volume-slider::-ms-thumb:hover{
	transition-duration: 150ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
	background-color: var(--color-primary);
}

.volume-slider::-webkit-slider-thumb:hover{
	transition-duration: 150ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
	background-color: var(--color-primary);
}

