.hidedSidebar {
    >aside {
           width: var(--sidebar-width);
    min-height: 100vh;
    overflow-x: hidden;
    white-space: nowrap;
    
    transition: width 0.35s ease-in-out;

    nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div:first-child {
            transition: opacity 0.3s ease-in-out;
            opacity: 1;
        }
    }
    } 
}
.showedSidebar {
    >aside {
           width: var(--sidebar-width);
    min-height: 100vh;
    overflow-x: hidden;
    white-space: nowrap;
    
    transition: width 0.35s ease-in-out;

    nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div:first-child {
            transition: opacity 0.3s ease-in-out;
            opacity: 1;
        }
    }
    }
}
.hidedSidebar {
    >aside {
        width: 3.8rem; 
        
        nav {
            div:first-child {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
    > .content {
        width: 100%;
        transition: width 0.35s ease-in-out;
    }
}
.showedSidebar {
    >aside {
        width: var(--sidebar-width);
        
        nav {
            div:first-child {
                opacity: 1;
            }
        }
    }
}